<select id="id_page" name="page"
        class="select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        hx-target="closest div" hx-swap="outerHTML"
        hx-get="{% url 'psat:problem-list-filter' %}">
    {% for p in elided_page_range %}
        {% if p == '…' %}
            <option value="{{ p }}" disabled>{{ p }}</option>
        {% elif p == page %}
            <option value="{{ p }}" selected>{{ p }}페이지</option>
        {% else %}
            <option value="{{ p }}">{{ p }}페이지</option>
        {% endif %}
    {% endfor %}
</select>
